{% extends "employee/layout.html" %}
{% block body %}
    <h1> Employee List </h1>
    <table style="width: 100%">
        <ol>
            {% for task in EmployeeList %}
                <th> {{ task }} </th>
            {% endfor %}
        </ol>
        <ol>
        <tr>
            {% for task in data %}
                <th> {{ task }} </th>
            {% endfor %}
        </tr>
        </ol>
        <ol>
            <tr>
                <tr>
                {% for task in data1 %}
                    <th>{{ task }}</th>
                {% endfor %}
                </tr>
            </tr>
        </ol>
        <ol>
            <tr>
                {% for task in data2 %}
                    <th>{{ task }}</th>
                {% endfor %}
            </tr>
        </ol>
        <ol>
            <tr>
                {% for task in data3 %}
                <th>{{ task }}</th>
                {% endfor %}
            </tr>
        </ol>
    </table>
{#<a href="{% url  %}"></a>#}
{% endblock %}

{#<ol>#}
{#            {% for task in EmployeeList %}#}
{#                <li> {{ task }} </li>#}
{#            {% endfor %}#}
{#        </ol>#}