{% extends "flights/layout.html" %}
{% block body %}
  <h1> flights details </h1>
    <table class="table">
        <tr class="thead-dark">
            <th> id</th>
            <th> origin</th>
            <th> destination</th>
            <th> durations</th>
        </tr>
        {% for flight in no_of_flights %}
            <tr>
                <td> {{ flight.id }}</td>
                <td> {{ flight.origin }}</td>
                <td> {{ flight.destination }}</td>
                <td> {{ flight.duration }}</td>
            </tr>


        {% endfor %}

    </table>
    </ul>
{% endblock %}